{% extends 'base.html' %}

{% block content %}

  <h1>Add a form that when submitted creates a new playlist!</h1>

  <form method="POST" action="{{"/playlist/add"}}">
    {{ form.hidden_tag() }}
    
    <label for="name">Name:</label>
    {{ form.name.label }}
    {{ form.name(class="form-control") }}

    <label for="description">Description:</label>
    {{ form.description.label }}
    {{ form.description(class="form-control") }}

    <button type="submit" class="btn btn-primary">Create Playlist</button>
  </form>

{% endblock %}
